@model IEnumerable<ReminderMVC.Models.Reminder>

@{
    ViewData["Title"] = "Reminder List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Create New</a>
</p>
<table class="table" id="reminderTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CronExpression)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CronExpression)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts{
	<script>
		$(document).ready( function () {
		    $('#reminderTable').DataTable();
		});
	</script>
}