@model IEnumerable<ReminderMVC.Models.ReminderModel>
@{
    ViewData["Title"] = "GetByCategoryId";
}
@{
 IEnumerable<ReminderMVC.Models.CategoriesModel> listCategories = ViewBag.Categories;
}
<form  method="post">
     <label>reminders: </label>
     <select name="id" class="form-control">
     @foreach (var cat in listCategories)
     {
         <option value="@cat.Id">
         @cat.Description
         </option>
     }
     </select>
     <br />
     <button type="submit" class="btn-primary">
     Mostrar
     </button>
</form>

<hr />

@if (Model != null)
{ 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CronExpression)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tbody>
        @foreach (var rem in Model) {
            <tr>
                <td>
                    @rem.id
                </td>
                <td>
                    @rem.CategoryId
                </td>
                <td>
                    @rem.Description
                </td>
                <td>
                    @rem.StartDate
                </td>
                <td>
                    @rem.CronExpression
                </td>
                <td>
                    @rem.NumberOfTimes
                </td>
                <td>
                    @rem.Enabled
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=rem.id }) |
                    @Html.ActionLink("Details", "Details", new {  id=rem.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=rem.id }) 
                </td>
            </tr>
    }


    
        </tbody>
    </table>

    }
 